div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#page-title {
    text-align: center;
    width: 100%;
}

#new-thought {
    height: 30px;
    width: 95%;
    text-align: center;
}

ul {
    width: 95%;
    border: 1px solid black;
    background-color: aquamarine;
}